<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Compras App</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} *ngIf="isAuth()" routerLink="/">Inicio</a>
      <a class="nav-item nav-link" *ngIf="isAuth()" routerLink="/proveedores">Proveedores</a>
      <a class="nav-item nav-link" *ngIf="isAuth()" routerLink="/addpres">Añadir Presupuesto</a>
      <a class="nav-item nav-link" *ngIf="isAuth()" routerLink="/presupuestos">Presupuestos</a>
      <a class="nav-item nav-link" *ngIf="isAuth()" routerLink="/facturas">Facturas</a>
      <!--<a class="nav-item nav-link" routerLink="/registro">Registro</a>-->
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <li class="nav-item" *ngIf="!isAuth()">
      <button class="btn btn-primary float-md-right" routerLink="/iniciosesion">Inicie sesión</button>
    </li>
    <li class="nav-item" *ngIf="isAuth()">
        <button class="btn btn-primary float-md-right" (click)="onLogout()">Cerrar sesion</button>
      </li>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank" *ngIf="isAuth()">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank" *ngIf="isAuth()">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank" *ngIf="isAuth()">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>
